<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.benshi">

    <!-- For Firebase integration -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="ai.benshi.ExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PromotedAi">
        <activity
            android:name="ai.benshi.RestaurantListActivity"
            android:label="@string/title_restaurant_list"
            android:theme="@style/Theme.PromotedAi.NoActionBar" />
        <activity
            android:name="ai.benshi.RestaurantDetailActivity"
            android:label="@string/title_restaurant_detail"
            android:parentActivityName="ai.benshi.RestaurantListActivity"
            android:theme="@style/Theme.PromotedAi.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ai.benshi.RestaurantListActivity" />
        </activity>
        <activity
            android:name="ai.benshi.MainActivity"
            android:theme="@style/Theme.PromotedAi.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>